.select{
    background: none;
    border: none;
    margin-left: 1vw;
    /* width: 18vw;usu */
    height: 7vh;
    padding-left: 4vw;
    margin-right: 3vw;
    font-size: large;
    font-weight: 500;
    color: black;
}