.imageWrapper {
    width: 90%; /* Stretches horizontally */
    height: 300px; /* Fixed height */
    background-color: #eff1f3; /* Background color */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevents overflow */
    margin-left: 5vw;
    margin-right: 5vw;
  }
  
  .stretchedImage {
    width: 80%; /* Stretch horizontally */
    height: 90%; /* Maintain fixed height */
    object-fit: cover;
  }
  