.imageWrapper {
    width: 90%;
    height: 300px;
    background-color: #eff1f3; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    margin-left: 5vw;
    margin-right: 5vw;
  }
  
  .stretchedImage {
    width: 80%;
    height: 90%;
    object-fit: cover;
  }
  